html,
body {
  padding: 0;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(104, 66, 206);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

h1 {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 5px 2px 15px rgba(0, 0, 0, 0.3);
  color: white;
}

#pokemons {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
}

.pokemon {
  background-color: rgb(100, 60, 210);
  padding: 2rem 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  color: #fefefe;
  text-transform: capitalize;
  box-shadow: 5px 5px 5px rgba(36, 35, 35, 0.3);
}

.pokemon:hover {
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(36, 35, 35, 0.3);
}

.pokemon p {
  display: block;
  padding: 0;
  margin: 0;
}

.pokemon span {
  display: block;
  padding: 0.5rem;
}

.pokemon:hover img {
  filter: drop-shadow(0.5rem 0rem 0.5rem rgb(240, 229, 229));
}
